/*Global Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FlexBox*/
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ff9ecf 0%, #a78bfa 50%, #3b82f6 100%);
    font-family: arial, sans-serif;
}
.login-box{
    background: white;
    padding: 30px 25px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
    height: 60vh;
}
.login-box h2{
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #333;
}
.login-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}
.options{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 10px 0 15px 0;
    font-size: 12px;
}
.btn{
    width: 100%;
    padding: 10px;
    background: #ec4899;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.social{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.social button{
    flex: 1;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #ddd;
    background: #ffffff;
    cursor: pointer;
}
.footer{
    margin-top: 15px;
    font-size: 12px;
}